name: My first Actions
on:
  push:
    branches:
      - 'master'

jobs:
  tests:
     runs-on: ubuntu-20.04
     steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm ci
      - name: copy history
        if: always()
        run: cp -R allure-report/history allure-results
      - name: Run all tests
        if: always()
        run: npm run test:chrome:headless
      - name: Create Report
        if: always()
        run: npm run allure:generate
      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        if: always()
        env:
          API_TOKEN_GITHUB: ${{ secrets.ACCES_TOANOTHER_ACC }}
        with:
          source-directory: 'allure-report'
          destination-github-username: 'ToActions'
          destination-repository-name: 'HtmlActions'
          user-email: s.fart2012@gmail.com
          target-branch: main
