name: My first Actions
on:
  push:
    branches:
      - 'master'

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/checkout@v1
      - run: npm ci
      - name: Run all tests
        run: npm run test:chrome:headless
      - name: Create Report
        if: always()
        # trying to save history of previous runs if it is exists
        run: cp -r $(pwd)/allure-results/ $(pwd)/docs/allure-results/ && cp -r $(pwd)/docs/history/ $(pwd)/allure-results/history || true && npm run allure:generate
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: allure-report
          path: ./allure-report
      - uses: actions/checkout@v2
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: allure-results
          path: ./allure-results
      - name: Deploy Report
        uses: JamesIves/github-pages-deploy-action@3.1.0
        if: always()
        with:
          ACCESS_TOKEN: ${{secrets.GITHUB_TOKEN}}
          BRANCH: master
          FOLDER: allure-report
          TARGET_FOLDER: docs
      - name: Pushes docs to another repository
        uses: cpina/github-action-push-to-another-repository@main
        if: always()
        env:
          API_TOKEN_GITHUB: ${{ secrets.ACCES_TOANOTHER_ACC }}
        with:
          source-directory: 'docs'
          destination-github-username: 'ToActions'
          destination-repository-name: 'HtmlActions'
          user-email: s.fart2012@gmail.com
          target-branch: main

